/* Importing the Lora font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* General rules for body element */
body {
  font-family: 'Lora', serif; /* Default font for the page */
  background-color: #F5F5F5; /* Light grey background for the page */
  color: #333; /* Dark grey color for the text */
}

/* Styling for heading elements */
h1, h2 {
  color: #007BFF; /* Color that matches the button color */
  font-family: 'Lora', serif; /* Giving a modern look to the headings */
}

/* Styling for card container */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; /* Aligns items to the top */
  padding: 0 20px;
  flex-wrap: wrap; /* Items will wrap onto the next line if needed */
  max-width: 800px;
}

/* Styling for card button container */
.card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for buttons */
.button {
  font-family: 'Roboto', serif;
  background-color: #007BFF; /* Button color */
  border: none; /* Removing borders */
  color: white; /* Text color */
  padding: 15px 32px; /* Padding around text */
  text-align: center; /* Center aligned text */
  text-decoration: none; /* Removing underline */
  display: inline-block; /* Displaying as inline elements */
  font-size: 16px; /* Text size */
  margin: 4px 2px; /* Margin around buttons */
  cursor: pointer; /* Cursor effect on hover */
  border-radius: 12px; /* Add curved edge */
}

/* Styling for button on hover */
.button:hover {
  background-color: #7ebafa; /* Dark green background color on hover */
}

/* Styling for button container */
.button-container {
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  padding: 0 20px;
}

/* Styling for discard button */
.discard-button {
  width: 100%;
}

/* Styling for cards */
.card {
  width: 150px;
  height: 220px;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Shadow effect */
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Transition effect */
}

/* Styling for card value */
.card-value {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
}

.card-value.top-right {
  top: 5px;
  right: 5px;
}

.card-value.bottom-left {
  bottom: 5px;
  left: 5px;
}

/* Styling for card image */
.card-image {
  flex-grow: 1; /* To take up all remaining space in the card */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  max-width: 100%; 
  max-height: 100%;
  object-fit: contain; /* For the image to scale correctly */
}

/* Styling for log */
#log, #human_log {
  max-height: 100px; /* Maximum height for the log container */
  overflow-y: auto; /* Scrollable when the content overflows */
  padding: 10px; /* Padding around text */
  background-color: #fff; /* Background color */
  border: 1px solid #ccc; /* Border around the container */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Space at the bottom */
  font-family: 'Open Sans', sans-serif; /* Font for the log text */
}

.log-container {
  max-height: 300px; /* Set to the desired maximum visual height */
  overflow-y: scroll; /* Add vertical scrollbar when necessary */
  border: 1px solid #ccc; /* Border around the container */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding around text */
  background-color: #fff; /* Background color */
  width: 50%; /* Set the width as per your requirement */
  margin: auto; /* Center the box */
}

.log-entry {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}


.bold-log-entry {
  font-weight: bold;
}


@keyframes flash {
  0% { border-color: transparent; }
  50% { border-color: #007BFF; }
  100% { border-color: transparent; }
}

.winner {
  /* Change the text color */
  color: #DAA520;  /* Goldenrod for example */

  /* Add a box around the text */
  padding: 10px;
  border: 2px solid #007BFF;
  max-width: 800px;

  /* Create a flashing effect for the box */
  animation: flash 2s linear infinite;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
