<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Rat-a-tat-cat</h1>
    <div>
      <h2>Your hand:</h2>
      <div class="card-container">
        {% for card in human_cards_visible %}
        <div class="card">
          <span class="card-value">{{ card }}</span>
          <img src="{{ url_for('static', filename='images/' + card + '.png') }}" />
        </div>
        {% endfor %}
      </div>
    <p>
    <form method="POST" action="/replace_card">
      <input type="submit" name="replace_card" value="Draw Card">
      </form>
    <form method="POST" action="/pick_up_discard_card">
      <input type="submit" name="pick_up_discard_card" value="Pick up Discard">
      </form>
    </div>
    <div id="last round">
		<form method="POST" action="/last_round">
		<input type="submit" name="last_round" value="Last Round">
		</form>
    </div>
    <div id="log">
      {% for event in events %}
      <p>{{ event }}</p>
      {% endfor %}
    </div>
  </body>
</html>
