<!DOCTYPE html>
<html>
  <head>
    <title>Replace Card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Replace Card</h1>
    <!-- Display the new card value and current cards visible to the user -->
    <p>Newly drawn card:</p>
    <div class="card-container">
        <div class="card">
          <span class="card-value">{{ new_card }}</span>
          <img src="{{ url_for('static', filename='images/' + new_card_str + '.png') }}" />
        </div>
      </div>      
    <div>
    <h2>Your hand:</h2>
    <div class="card-container">
      {% for card in human_cards_visible %}
      <div class="card">
        <span class="card-value">{{ card }}</span>
        <img src="{{ url_for('static', filename='images/' + card + '.png') }}" />
      </div>
      {% endfor %}
    </div>
    <form action="/replace_card_confirm" method="post">
      <label>Replace Card:</label>
      <select name="card_index">
        {% for i in range(4) %}
        <option value="{{ i }}">{{ i+1 }}</option>
        {% endfor %}
      </select>
      <!-- Include a hidden field to pass the new card value -->
      <input type="hidden" name="new_card" value="{{ new_card }}">
      <br>
      <!-- Add radio buttons to allow user to choose whether to keep or discard the new card -->
      <input type="radio" name="keep_card" value="true" checked>
      <label for="keep_card">Keep newly drawn card</label>
      <br>
      <input type="radio" name="keep_card" value="false">
      <label for="discard_card">Discard newly drawn card</label>
      <br>
      <!-- Add a submit button to send the form data to the server -->
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
